.ToDo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button{
    height: max-content;
    padding: 10px 10px ;
}